/* Import Fonts
---------------------------------------------------------------------------------------------------- */

@import url(fonts.googleapis.com/css?family=Lato:400,300,700,300italic,900);
@import url(fonts.googleapis.com/css?family=Merriweather:400,300,700);

/* Colours
---------------------------------------------------------------------------------------------------- */

$secondary:#e0ebfd;

//Green
$green:#8dc63f;

  //Greys
$grey:#999;

//White
$white:#fff;

//Black
$black: #000;

//Red
$red: #ff0000;

/* -------------------------------------------
         Fonts
--------------------------------------------- */
//General Font - Used in body, paragraphs, small headers, strong text, header login, header inputs, footer lists, nav menus, lists, greetings, topics, pitches, articles, tables
$regular-font: 'Lato', sans-serif;
//Header Font - Used for large headers, form headers, strong text, ul, asides, login inputs,
$header-font:'Merriweather', serif;