/* -------------------------------------------
             Header Styles
--------------------------------------------- */
header{
  border-bottom:5px solid $secondary;
  .site-header {
    img{
      margin: 10px;
    }
  }
  margin-bottom: 50px;
}
