
/* -------------------------------------------
             General Styles
--------------------------------------------- */

html{
  position:relative;
  min-height:100%;
}

body {
  margin:0px;

}

.footer{
  height:30px;
  width: 100%;
  bottom:0;
  position: fixed;
  background-color: $secondary;
  font-family: $header-font;
}

.site-header{
  max-width: 900px;
  margin: 0 auto;
}
.site-footer{

  text-align:center;
  margin: 0 auto ;
  padding: 5px;
}

.row{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.container{
  max-width: 1000px;
}