/* -------------------------------------------
             Unsubscribe Styles
--------------------------------------------- */

#unsubscribe, #success {
  max-width: 500px;
  margin: 50px auto;

  .alert-danger{
    margin: 12px auto;
  }

  .input-group {
    margin:15px 0;
    width: 100%;
    .input-group-addon{
      padding: 0 10px;
      font-size: 16px;
    }
  }

  .invalid_email{
    border: 1px solid red;
  }

  .btn-success{
    background-color:$secondary;
    margin-top: 10px;
    color: $black;
    width: 120px;
    padding: 5px;
    margin: auto;
    border: 1px solid $grey;
  }
}

#success{
  span i{
    font-size: 40px;
    vertical-align: middle;
    color: $green;
    padding: 20px;
    float: left;
  }
  margin-top: 100px;
}